body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f4f4f4;
  color: black;
}

section {
  padding: 60px;
  text-align: center;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 15px 30px;
  background: #333;
  color: white;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links li a {
  color: white;
  text-decoration: none;
}

.btn {
  display: inline-block;
  margin-top: 15px;
  padding: 10px 20px;
  background: #007bff;
  color: white;
  border-radius: 5px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.page {
  height: 100vh; /* force exact viewport height */
  display: flex;
  flex-direction: column;
  justify-content: center; /* vertical center */
  align-items: center; /* horizontal center */
  box-sizing: border-box;
  padding: 50px;
}
