.profile-pic {
  width: 200px;
  height: 220px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #000000;
  margin-bottom: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out;
}

.profile-pic:hover {
  transform: scale(1.05);
}
